@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Merriweather&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(223, 223, 223);
  font-family: 'Merriweather', serif;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  max-width: 750px;
  min-width: 200px;
  margin: 0 auto;
}

.heading{
  font-size: 40px;
  padding: 10px ;
}

.formBox{
  width: 100%;
  min-width: 200px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
  background-color: rgb(207, 207, 207);
  margin-top: 1rem;
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
}
label{
  font-size: 21px;
  font-weight: bold;
  margin-right: 10px;
}
.inputArea{
  margin: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"]{
  min-height: 60px;
  width: 80%;
  padding: 10px;
  font-size: 21px;
  border: none;
  outline: none;
  border-radius: 0;
  border-radius: 6px;
  font-family: 'Martian Mono', monospace;
}

input[type="text"]:is(:hover, :focus){
  background-color: rgb(240, 235, 235);
  box-shadow: 2px 3px 20px black;
  /* border-radius: 8px; */

}

.btn{
  width: 50%;
  margin: 1rem auto;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  border: none;
  background-color: rgb(71, 71, 71);
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-family: 'Martian Mono', monospace;
}

.btn:is(:hover, :focus){
  background-color: black;
}

hr{
  height: 2px;
  width: 75%;
  margin-top: 1rem;
  background-color: black;
}

h3{
  font-size: 32px;
  margin: 10px;
}

ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  max-width: 650px;
  margin: auto;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(184, 184, 184);
  overflow: hidden;
  border-radius: 6px;
  min-height: 100px;
  height: 320px;
  overflow-y:auto;
  overflow-x: hidden;
}

ul::-webkit-scrollbar{
  width: 6px;
}

ul::-webkit-scrollbar-track{
  border-radius: 5px;
  background: rgb(0, 0, 0);
}

ul::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, rgb(32, 196, 117), rgb(224, 225, 225));
  border-radius: 5px;
}

ul li{
  width: 100%;
  list-style: none;
  font-size: 21px;
  border: 1px solid teal;
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  min-height: 60px;
  margin: 10px 0;
  font-weight: bold;
  font-family: 'Martian Mono', monospace;
}

ul li .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li:is(:hover, :focus){
  background-color: rgb(243, 237, 237);
  transform: scale(1.02);
  border: 2px solid teal;
}

.lists-items button{
  min-height: 30px;
  min-width: 50px;
  /* padding: 5px; */
  font-size: 18px;
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.lists-items button.viewBtn{
  background-color: rgb(54, 168, 168);
}

.lists-items button:is(:hover, :focus){
  background-color: black;
  color: white;
}

.dtls{
    max-width: 650px;
    min-width: 200px;
    min-height: 250px;
    margin: 2rem auto;
    font-size: 21px;
    border: 1px solid black;
    padding: 2rem;
    background: rgb(237, 237, 237);
    border-radius: 6px;
    width: 100%;
    place-content: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 8px black;
}

.dtls h2{
  margin: 1rem;
  font-size: 32px;
}

.dtls p{
  margin: 12px;
  font-size: 23px;
  text-transform: capitalize;
  padding: 5px 10px;
}

:is(.deleteBtn, .editBtn) {
  background-color: rgb(42, 42, 42);
  width: 30%;
  margin: 10px;
  font-size: 27px;
}

.deleteBtn:is(:hover, :focus){
  background-color: rgb(206, 55, 55);
  box-shadow: 1px 2px 10px rgb(206, 55, 55);
}

.editBtn:is(:hover, :focus){
  background-color: teal;
  box-shadow: 1px 2px 10px teal;
}

input[type="checkbox"]{
  min-width: 60px;
  min-height: 40px;
  accent-color: teal;
  cursor: pointer;
  font-family: 'Martian Mono', monospace;
} 

input[type="checkbox"]:is(:hover, :focus){
   accent-color: rgb(75, 108, 216);
}

.edit-todo{
    width: 100%;
    max-width: 650px;
    min-width: 200px;
    margin: 6rem auto;
    border: 2px solid black;
    padding: 1rem;
    background: #e5e5e5;
    border-radius: 8px;
    box-shadow: 2px 3px 10px black;
    min-height: 200px;
}

.savebtn{
  text-align: center;
}

.saveBtn{
  background-color: teal;
}

.checked{
  text-decoration: line-through 2px teal;
}

.list-msg{
  display: flex;
  place-content: center;
  align-items: center;
  margin: 4rem auto;
  border: none;
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 6px;
  width: 60%;
}

.message{
  display: none;
}
.successMsg, .errorMsg {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  margin: 10px;
  font-family: 'Martian Mono', monospace;
}

.successMsg{
  color: teal;
}

.errorMsg{
  color: red;
}

.loader{
  width: 60%;
  display: flex;
  place-content: center;
  margin: 3rem auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 6px;
}